# Java Spring Boot Git Ignore File -------------------------------------------

# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/

# Spring Boot private application properties
**/application.properties

# Spring Boot log files
**/spring.log