<form class="flex flex-col gap-4" id="detailsForm">
    <div class="flex justify-between">
        <div class="detailCard" id="title">
            <span></span>
            <input type="text" name="title" placeholder="" class="detailInput text-3xl font-bold">
        </div>
        <div></div>
    </div>

    <div class="flex justify-between gap-5">
        <div class="detailCard grow flex flex-col" id="info-L">
            <span class="font-sans text-sm"></span>
            <input type="text" name="input-L" placeholder="Info box L" class="detailInput">
        </div>
        <div class="detailCard grow flex flex-col" id="info-R">
            <span class="font-sans text-sm"></span>
            <input type="text" name="input-R" placeholder="Info box R" class="detailInput">
        </div>
    </div>

    <div id="populationsTable" class="detailCard">
        <h3 class="mb-2">Populations</h3>
        <div></div>

    </div>
</form>