<form class="flex flex-col gap-4" id="detailsForm">
    <div class="flex justify-between">
        <input type="text" id="title" name="title" placeholder="Search for a..." class="detailCard">
        <div id="maths" class="detailCard">
            <h1 id="mathsResult">N/A</h1>
        </div>
    </div>

    <div class="flex justify-between gap-5">
        <input type="text" id="info-L" name="info-L" placeholder="Info box L" class="detailCard grow">
        <input type="text" id="info-R" name="info-R" placeholder="Info box R" class="detailCard grow">
    </div>

    <div id="subtable" class="detailCard"></div>
</form>