@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl font-bold font-title;
}

h2 {
    @apply text-3xl font-bold font-title;
}

h3 {
    @apply text-2xl font-bold font-title;
}

.search {
    @apply bg-gray-100 px-4 py-1 rounded-lg font-title shadow-md;
}

.detailCard {
    @apply bg-gray-200 p-4 rounded-lg shadow-md;
}

.settlementCard {
    @apply detailCard bg-green-200;
}

.speciesCard {
    @apply detailCard bg-red-200;
}