@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-4xl font-bold font-title;
}

h2 {
    @apply text-3xl font-bold font-title;
}

h3 {
    @apply text-2xl font-bold font-title;
}