<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
<link href="../index.css" rel="stylesheet">

<div class="flex justify-center align-middle">
    <form>
        <input type="text" id="search" name="search" placeholder="Search for a...">
        <select id="searchBy" name="searchBy">
            <option value="species">Species</option>
            <option value="settlement">settlement</option>
        </select>
        <button type="submit"></button>
    </form>
</div>